{% extends "notetaking/layout.html" %}
{% block title %}
Welcome
{% endblock %}
{% block body %}
<strong style="font-size:30px">Welcome to Note-Taking Services!</strong>
<p style="font-size:30px;">
    Note-Taking services ensure that all students have equal access to in-class information. Students with chronic illnesses who must often miss class, students with dyslexia, and more may benefit from note-taking services.
    Many colleges and universities offer note-taking services through Disability Services. Howevever, note taking services are not as robustly offered in K-12 schools.
</p>
<strong style="font-size:30px">NoteServe is a platform to streamline K-12 note-taking services.</strong>
<p style="font-size:30px">
    Users can register as a Teacher, Note-Taker, or Note-Requester.
    Teachers create classes and students join through class codes for easy note sharing.
    Teachers and Note-Takers can post class notes for Note-Requesters to view.
</p>
<p style="font-size:30px">
    Future Features:
    Image Uploads, Comments, and More!
</p>
{% endblock %}