body {
    padding: 10px;
    background-color:#e1f3f8;
    opacity:0.9;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
h1 {color:#212121;font-size:80px; text-align:center;}
.nav-item {
    background-color:white; /* Green */
    border: none;
    color: white;
    font-size:22px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
.note-link {
    font-size: 22px;
}
.list-item{
    font-size: 22px;
}
.form-item{
    font-size: 16px;
}
p{
    padding: 20px;
}