body {
    padding: 10px;
}
body {background-color:#e1f3f8;opacity:0.9;}
h1 {color:#212121;font-size:80px; text-align:center;}
.nav-item {
    background-color:white; /* Green */
    border: none;
    color: white;
    font-size:48px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 10px;
  }
.div {color: red;}